

table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  width: 25%;
}

.align{
  text-align: center;
  color: #7fc79d;
  padding: 23px;
}

.delete{
  color: #cc4d4d;
  cursor: pointer;
}
.loading{
  text-align: center
}
